--- 
--- 

@import "{{ site.theme }}";

header {
    background: #222222;
}

/* Sidebar buttons */
aside a.button {
    background-image: transparent url("../orange_bear_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Heading decoration colors */
#main-content h1:before,
#main-content h2:before,
#main-content h3:before {
    color: #74b89e;
}