--- 
--- 

@import "{{ site.theme }}";

header {
    background: #222222;
}

/* Sidebar buttons */
aside a.button {
    background: transparent url("../orange_bear_icon.png");
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 202px;
    height: 80px;

    padding: 0 10px 0 58px;

    text-align: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 202px 80px;

}

header a.button {
    background: transparent url(../dark_bear_icon.png);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 202px;
    height: 80px;

    padding: 0 10px 0 58px;

    text-align: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 202px 80px;

}

#main-content h1:before,
#main-content h2:before,
#main-content h3:before {
    color: #74b89e;
}